<section class="flex flex-col-reverse items-center justify-center text-center lg:flex-row">
  
    <div class="mb-5 flex flex-col items-center lg:mb-0 lg:w">

        <div>

            <h4 class="mb-8 text-red-500">Coming Soon</h4>

            <h2 class="mb-4 pl-10 pr-10 font-monospace text-2xl lg:text-3xl ml-5 mr-5 font-bold">
                {{$HeroMainTitle}}
            </h2>

            <h1 class="mb-8 pl-10 pr-10 font-monospace text-3xl lg:text-5xl ml-5 mr-5">
                {{$HeroTitle}}
            </h1>

            <p class="mb-1 font-light sm:text-xl text-gray-500 dark:text-gray-400">{{$HeroSubTitle}}</p>

        </div>

        <div class="mt-8 mb-4 hidden">
            <button class="rounded-xl text-center transition focus-visible:ring-2 ring-offset-2 ring-orange px-6 py-3 hover:bg-orange  border-2 border-transparent flex">
                {{$HeroMore}}
            </button>
        </div>

    </div>

</section>

{{HTMLPLACEHOLDER}}
